.recipe-detail {
    padding: 20px;
    text-align: center;
  }
  
  .recipe-detail img {
    width: 100%;
    max-width: 400px;
    height: auto;
  }
  
  h2 {
    margin: 20px 0;
  }
  
  h3 {
    margin-top: 20px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin: 5px 0;
  }
  