<div class="chat-panel">
   <div class="header" (click)="showPreferencePanel = !showPreferencePanel;">
     <span>Set your preferences</span>
     <img src="../../../assets/icons/down-arrow.svg" height="20" width="20"/>
     <div class="preferences" *ngIf="showPreferencePanel">
       <div class="preferences-options" (click)="$event.stopPropagation()">
         <label for="cooking-level">Cooking Level:</label>
         <select id="cooking-level" [(ngModel)]="cookingLevel">
           <option value="">Select Cooking Level</option>
           <option value="Beginner">Beginner</option>
           <option value="Intermediate">Intermediate</option>
           <option value="Advanced">Advanced</option>
         </select>
       </div>
       <div class="preferences-options" (click)="$event.stopPropagation()">
         <label for="spice-level">Spice Level:</label>
         <select id="spice-level" [(ngModel)]="spiceLevel">
           <option value="">Select Spice Level</option>
           <option value="Low Spicy">Low Spicy</option>
           <option value="Medium Spicy">Medium Spicy</option>
           <option value="Very Spicy">Very Spicy</option>
         </select>
       </div>
       <div class="preferences-options" (click)="$event.stopPropagation()">
         <label for="allergies">Allergies:</label>
         <input
           type="text"
           id="allergies"
           [(ngModel)]="allergies"
           placeholder="Enter allergies (comma-separated)"
         />
       </div>
     </div>
   </div>
   
   <div class="messages-container">
     <div *ngFor="let message of messages" class="message" [ngClass]="message.sender">
       <strong class="user-profile-name" *ngIf="message.sender === 'user'">You:</strong>
       <strong class="user-profile-name" *ngIf="message.sender === 'bot'">Bot:</strong>
       <p>{{ message.content }}</p>
       <span class="timestamp">{{ message.timestamp | date:'shortTime' }}</span>
         <div class="actions" *ngIf="message.sender === 'bot'">
            <span class="cursor-pointer fa fa-facebook me-3" (click)="share(message.content, 1)"></span>
            <span class="cursor-pointer fa fa-twitter" (click)="share(message.content, 2)"></span>
            <span class="cursor-pointer" (click)="share(message.content)" *ngIf="userService.isUserLoggedIn">Share</span>
         </div>
     </div>
     <div *ngIf="botError" class="bot">
      <strong class="user-profile-name">Bot:</strong>
      <p>Error while processing. please try again</p>

     </div>
   </div>
   
   <div class="input-container">
     <input
       type="text"
       [(ngModel)]="messageInput"
       placeholder="Type your message..."
       (keydown.enter)="sendMessage()"
       [disabled]="responseLoading"
     />
     <button (click)="sendMessage()" [disabled]="responseLoading">Send</button>
   </div>
</div>
