.chat-panel {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    width: calc(100vw - 320px);
    display: flex;
    flex-direction: column;
    height: 600px;
    background-color: transparent;
  }
  
  .header {
    margin-bottom: 16px;
    display: flex;
    background-color: #fdf3f6;
    padding: 20px;
    position: relative;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #d11243;
    cursor: pointer;
  }
  
  .header h2 {
    margin: 0 0 10px;
  }
  
  .preferences {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    background-color: inherit;
    top: 64px;
    left: 0;
    border: 1px solid #d11243;
    z-index: 1;
  }

  .preferences-options {
    border-bottom: 1px solid #d11243;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    &:last-child {
        border-bottom: none;
    }
    select, input {
        width: 80%;
        max-width: 80%;
    }
  }
  
  .messages-container {
    flex: 1;
    overflow-y: auto;
    margin-bottom: 8px;
  }
  
  .message {
    margin: 8px 0;
    padding: 8px;
    border-radius: 4px;
    position: relative;
    display: flex;
  }
  
  .user {
    border: 4px solid #e0f7fa; /* Light blue for user messages */
    background-color: rgba(224, 247, 250, 0.2);
    align-self: flex-end; /* Align to the right */
  }
  
  .bot {
    border: 4px solid #ffe0b2; /* Light orange for bot messages */
    background-color: rgba(255, 224, 179, 0.2);
    align-self: flex-start; /* Align to the left */
    margin-bottom: 30px;
  }
  
  .timestamp {
    font-size: 0.8em;
    color: #888;
    position: absolute;
    bottom: 4px;
    right: 8px; /* Align timestamps to the right */
  }
  
  .input-container {
    display: flex;
  }
  
  input[type="text"] {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    padding: 8px 12px;
    margin-left: 8px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .user-profile-name {
    margin-right: 10px;
  }

  .actions {
    position: absolute;
    right: 0;
    bottom: -26px;
  }